.brandBg {
  width: 100%;
  padding: 5px 0px;
  background-color: rgb(255, 255, 255);
}

.brand {
  width: 200px;
  height: 200px;
}

.imgFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-direction: row;
}
