.longcard {
  width: 30%;
  border-radius: 10px;
  border: none;
  box-shadow: 1px 1px 10px lightgray;
}
.firstSection {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  flex-direction: column;
  gap: 10px;
}
.price {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: flex-end;
}
.price > h1 {
  color: black;
}
.firstSection > h5 {
  color: black;
  font-size: 1.2em;
}

.firstSection > p {
  color: black;
  font-size: 1em;
}

.firstSection > button {
  padding: 10px 30px;
  background-color: black;
  border-radius: 5px;
  color: white;
}
.secondSection {
  border-top: 1px solid lightgray;
}

.insideS > p {
  margin-left: 16px;
  font-size: 0.8em;
  font-weight: 700;
  color: black;
}
